* {
  box-sizing: border-box;
}

#q4Wrapper {
  background-color: #2A3035;
  font-family: "Roboto", sans-serif;
  color: white;
}
#q4Wrapper h1, #q4Wrapper h2 {
  margin: 0;
}
#q4Wrapper h1 {
  font-size: 48px;
}
#q4Wrapper h2 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
#q4Wrapper header, #q4Wrapper .reports_docs {
  background-color: #22272B;
}
#q4Wrapper header {
  padding: 20px;
}
#q4Wrapper .reports_docs {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
#q4Wrapper article {
  text-align: center;
}
#q4Wrapper article img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
#q4Wrapper a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}
#q4Wrapper a:hover {
  transform: scale(1.05);
}
#q4Wrapper a span {
  opacity: 0.5;
}

.layout_inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
}
.layout_header {
  margin-bottom: 30px;
  text-align: center;
}

/* Begin styling the report items here! */
.reports {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
  justify-items: stretch;
  align-items: stretch;
}

.reports > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.reports > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}.reports > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.reports > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}.reports > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}.reports > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}
.reports > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  article {
    margin-bottom: 30px;
  }
}

/* 768px styles */

@media screen and (max-width: 768px) {
  .reports {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: auto auto;
  }
}

/* Fix for design break at smaller sizes */
@media screen and (max-width: 535px) {
  .reports{
    display: block;
  }

  article {
    margin-bottom: 30px;
  }
}